{% extends 'baseBack.html.twig' %}

{% block title %}Edit Cour{% endblock %}

{% block body %}
    <h1>Edit Cour</h1>

    {{ include('cour/_form.html.twig', {'button_label': 'Update'}) }}
<script>
        document.getElementById('FormC').addEventListener('submit', function(event) {
            var titre = document.getElementById('cour_titre').value.trim();
            var description = document.getElementById('cour_description').value.trim();

            if (titre === '' || description === '') {
                event.preventDefault(); // Prevent form submission
                alert('Title Or description cannot be blank.');
            }
        });
    </script>
    <a href="{{ path('app_cour_index') }}">back to list</a>

    {{ include('cour/_delete_form.html.twig') }}
     
{% endblock %}
