{% extends 'baseBack.html.twig' %}

{% block title %}Edit Quiz{% endblock %}

{% block body %}
    <center>
    <h1 style="margin-top:150px;">Edit Quiz</h1>
    </center>

    {{ include('quiz/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
