



{% block body %}


    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
